name: CI
on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.7.13"
          activate-environment: true
      - name: Setup DuckDB
        run: |
          curl -L https://github.com/duckdb/duckdb/releases/download/v1.3.1/duckdb_cli-linux-amd64.zip > duckdb.zip
          unzip duckdb.zip duckdb
          sudo mv duckdb /usr/local/bin
      - name: pre-commit cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pre-commit/
          key: pre-commit-4-${{ hashFiles('.pre-commit-config.yaml') }}
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Run lint checks
        run: pre-commit run --all-files
      - name: Run dbt
        run: dbt run -t dev
      - name: Test dbt
        run: dbt test -t dev
      - name: Test extra formats export
        run: duckdb -f scripts/build_more_formats.sql
