name: Run DBT model on prod
on:
  workflow_dispatch:
  workflow_call:
jobs:
  create-runner:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    outputs:
      label: ${{ steps.create-runner.outputs.label }}
    steps:
      - name: Create GitHub App installation access token
        uses: actions/create-github-app-token@v1
        id: app-token
        with:
          app-id: ${{ vars.GA_APP_ID }}
          private-key: ${{ secrets.GA_PRIVATE_KEY }}
      - name: Authenticate to Google Cloud
        id: auth
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: ${{ vars.GCP_WORKLOAD_IDENTITY_PROVIDER }}
          service_account: ${{ vars.GCP_SERVICE_ACCOUNT }}
      - name: Create Runner on GCP
        id: create-runner
        uses: related-sciences/gce-github-runner@ab5ba6e5baaf05b344863802d7e6d57ee69f2fd3
        with:
          token: ${{ steps.app-token.outputs.token }}
          vm_name_prefix: gh-create-dumps
          image_project: ubuntu-os-cloud
          image_family: ubuntu-2404-lts-amd64
          machine_zone: europe-west4-b
          machine_type: e2-standard-4
          runner_service_account: ${{ vars.RUNNER_GCP_SERVICE_ACCOUNT }}
          preemptible: true
          ephemeral: true
          boot_disk_type: pd-ssd
          disk_size: 70GB
  process:
    needs: create-runner
    runs-on: ${{ needs.create-runner.outputs.label }}
    steps:
      - name: Install Ops Agent
        run: |
          curl -sSO https://dl.google.com/cloudagents/add-google-cloud-ops-agent-repo.sh
          sudo bash add-google-cloud-ops-agent-repo.sh --also-install
      - name: Apt clean and update
        run: |
          sudo apt-get clean
          sudo rm -rf /var/lib/apt/lists/*
          sudo apt-get update
      # We are running on barebones VM, so there is more scripting involved
      # then needed if we were running on standard GitHub Actions runner.
      - name: Install rclone
        run: sudo apt-get install --yes rclone
      - name: Checkout source
        run: |
          mkdir src
          cd src
          git init
          git remote add origin $GITHUB_SERVER_URL/$GITHUB_REPOSITORY.git
          git fetch origin $GITHUB_REF
          git reset --hard FETCH_HEAD
          cd ..
      - name: Setup DuckDB
        run: |
          sudo apt-get install --yes unzip
          curl -L https://github.com/duckdb/duckdb/releases/download/v1.3.1/duckdb_cli-linux-amd64.zip > duckdb.zip
          unzip duckdb.zip duckdb
          sudo mv duckdb /usr/local/bin
      - name: Install uv
        run: |
          curl -L https://github.com/astral-sh/uv/releases/download/0.7.13/uv-x86_64-unknown-linux-gnu.tar.gz > uv.tar.gz
          sudo tar -xzf uv.tar.gz --strip-components=1 -C /usr/local/bin
      - name: Install dependencies
        run: cd src && uv sync --locked --all-extras
      - name: Fetch pgdumps
        run: |
          gcloud storage rsync gs://data-processing-mart-58413/pgdumps src/data_source/prod
      - name: Run models
        run: cd src && uv run dbt build -t prod
      - name: Generate formats
        run: cd src && duckdb -f scripts/build_more_formats.sql
      - name: Upload dumps
        run: rclone sync --exclude .gitkeep src/data_export/ :s3:$R2_DATA_MARTS_BUCKET
        env:
          R2_DATA_MARTS_BUCKET: ${{ vars.R2_DATA_MARTS_BUCKET }}
          RCLONE_S3_PROVIDER: Cloudflare
          RCLONE_S3_ENDPOINT: https://${{ vars.R2_ACCOUNT_ID }}.r2.cloudflarestorage.com
          RCLONE_S3_ACCESS_KEY_ID: ${{ vars.R2_ACCESS_KEY_ID }}
          RCLONE_S3_SECRET_ACCESS_KEY: ${{ secrets.R2_ACCESS_KEY_SECRET }}
          RCLONE_S3_BUCKET_ACL: private
          RCLONE_S3_CHUNK_SIZE: 20M
          RCLONE_S3_UPLOAD_CONCURRENCY: 2
